<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t(".title") %></h1>
  <p>
    <%= t(".announce_about_html", tutorial: link_to(t(".tutorial_link_detail"), t(".tutorial_link")),
      book: link_to(t(".book_link_detail"), t(".book_link")),
      screencast: link_to(t(".screencast_link_detail"), t(".screencast_link")), rails: link_to(t(".rails_link_detail"), t(".rails_link"))) %>
  </p>
</div>
