<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t(".title") %></h1>
  <h2>
  <%= t(".announce_contact_html")%>
  <%= link_to t(".contact_link_detail"), t(".contact_link")%>
  </h2>
  <%= link_to t(".signup_alert"), new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
