<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t(".title") %></h1>
  <p>
    <%= t(".announce_help_html", help: link_to(t(".link_help_detail"), t(".link_help")), book: link_to(t(".link_book_detail"), t(".link_book"))) %>
  </p>
</div>
