<li>
  <%= gravatar_for user, size: Settings.user.gravatar_user %>
  <%= link_to user.full_name, user %>
  <% if current_user.role == 1 && !current_user?(user) %>
    | <%= link_to t(".delete"), user, method: :delete,
      data: {confirm: t(".confirm")} %>
  <% end %>
</li>
