<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <td width="27%"><%=  publisher.name %></td>
        <td width="30%"><%=  publisher.description %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td class="text-right">
          <%= link_to t(".delete"), publisher,
            method: :delete, data: {confirm: t(".confirm")} %>
            | <%= link_to t(".edit"), edit_publisher_path(publisher) %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
