<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h1 class="modal-title center"><%= @author.name %></h1>
      <h2 class="modal-title text-left"><%= t(".des_author") %></h2>
      <div class="thumbnail">
        <%= @author.description %>
      </div>
    </div>
    <div class="modal-body modal-body-deny-form-request">
    </div>
  </div>
</div>
