  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <td width="30%">
            <%= link_to category.name, category %>
          </td>
          <% if current_user.admin? %>
          <td class="text-right">
            <%= link_to t(".delete"), category,
              method: :delete, data: {confirm: t(".confirm")} %>
              | <%= link_to t(".edit"), edit_category_path(category) %>
          </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
