<% provide :title, t(".title") %>
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".title_news"), "https://www.facebook.com/profile.php?id=100004416785306" %></li>
    </ul>
  </nav>
</footer>
